body {
    background-color: #1b1b1b;
    font-family: "Open Sans", sans-serif;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}
button {
    font-family: "Open Sans", sans-serif;
    background-color: rgb(221, 221, 220);
}